directory= "+compiler-libs"
requires(byte) = "compiler-libs.bytecomp"
requires(native) = "compiler-libs.optcomp dynlink"
version = "[distributed with Ocaml]"
description = "Toplevel interactions"
archive(byte) = "ocamltoplevel.cma"
archive(native) = "ocamltoplevel.cmxa"
