directory= "+compiler-libs"
requires = "compiler-libs.optcomp compiler-libs.bytecomp dynlink"
version = "[distributed with OCaml]"
description = "Toplevel interactions"
archive(byte) = "ocamltoplevel.cma"
archive(native) = "ocamltoplevel.cmxa"
